* {
  font-family: arial, sans-serif;
  /*border: 1px solid black;*/
}

#top_bar {
  min-width: 241px;
  float: right;
}

#top_bar li {
  padding-right: 8px;
  margin-top: -10 px;
}

#top_bar img {
  position: relative;
  top: 12px ;
  opacity: .55;
  color: #000;
}

#top_bar button {
  background-color: #4683ea;
  color: white;
  font-weight: bold;
  border: 1px solid #4285f4;
}

.center {
  position: fixed;
  top: 25%;
  text-align: center;
  width: 100%;
}

.center img {
  display: inline-block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  height: 92px;
}

.center input {
  -webkit-appearance: none;
  width: 600px;
  height: 40px;
  border: 1px solid #f4f4f4;
  border-radius: 1px;
  box-shadow: 0 2px 2px rgb(203, 203, 203);
  line-height: normal;
  font-family: Arial, sans-serif;
  background: url(https://infogalactic.com/w/images/2/22/Google_microphone_logo.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 14px;
}

.center input:hover{
  box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.2);
}

button {
  margin-right: 6px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 2px;
  background-color: #f4f4f4;
  font-weight: bold;
}

button:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
}

.search {
  border: medium;
  padding: 0px;
  margin: 0px;
  width: 70%;
  height: 36px;
  line-height: 34px;
  background: transparent;
  position: absolute;
  z-index: 6;
  left: -145px;
  outline: medium none;
  box-shadow: 1px 1px 5px #888888;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #f2f2f2;
  color: #666;
  text-align: center;
  clear: both;
  border-top: 1px solid #e4e4e4;
}

.footer li {
  padding-right: 8px;
}

#left {
  float: left;
  margin-left: 30px;
}

#right {
  float: right;
  margin-right: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 13px;
}
